@import "tailwindcss";

@font-face {
  font-family: "PoppinsRegular";
  src: url("../assets/fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "PoppinsMedium";
  src: url("../assets/fonts/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "PoppinsSemiBold";
  src: url("../assets/fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "PoppinsBold";
  src: url("../assets/fonts/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "PoppinsExtraBold";
  src: url("../assets/fonts/Poppins-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "PoppinsBlack";
  src: url("../assets/fonts/Poppins-Black.ttf") format("truetype");
  font-weight: 900;
}

@font-face {
  font-family: "LeagueSpartanRegular";
  src: url("../assets/fonts/LeagueSpartan-Regular.ttf") format("truetype");
  font-weight: 400;
}

@font-face {
  font-family: "LeagueSpartanMedium";
  src: url("../assets/fonts/LeagueSpartan-Medium.ttf") format("truetype");
  font-weight: 500;
}

@font-face {
  font-family: "LeagueSpartanSemiBold";
  src: url("../assets/fonts/LeagueSpartan-SemiBold.ttf") format("truetype");
  font-weight: 600;
}

@font-face {
  font-family: "LeagueSpartanBold";
  src: url("../assets/fonts/LeagueSpartan-Bold.ttf") format("truetype");
  font-weight: 700;
}

@font-face {
  font-family: "LeagueSpartanExtraBold";
  src: url("../assets/fonts/LeagueSpartan-ExtraBold.ttf") format("truetype");
  font-weight: 800;
}

@font-face {
  font-family: "LeagueSpartanBlack";
  src: url("../assets/fonts/LeagueSpartan-Black.ttf") format("truetype");
  font-weight: 900;
}

.font-poppinsregular { font-family: "PoppinsRegular"; }
.font-poppinsmedium { font-family: "PoppinsMedium"; }
.font-poppinssemibold { font-family: "PoppinsSemiBold"; }
.font-poppinsbold { font-family: "PoppinsBold"; }
.font-poppinsextrabold { font-family: "PoppinsExtraBold"; }
.font-poppinsblack { font-family: "PoppinsBlack"; }

.font-leaguespartanregular { font-family: "LeagueSpartanRegular"; }
.font-leaguespartanmedium { font-family: "LeagueSpartanMedium"; }
.font-leaguespartansemibold { font-family: "LeagueSpartanSemiBold"; }
.font-leaguespartanbold { font-family: "LeagueSpartanBold"; }
.font-leaguespartanextrabold { font-family: "LeagueSpartanExtraBold"; }
.font-leaguespartanblack { font-family: "LeagueSpartanBlack"; }


html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

.svg-filter {
  filter: invert(1) brightness(100%) contrast(100%);
}

/* HP */
@media (max-width: 767px) {
  .hero-bg {
    background-image: none !important;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-bg {
    background-position: calc(50% + 185px) bottom !important;
    background-size: 70% !important;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero-bg {
    background-position: calc(60% + 250px) top !important;
    background-size: 60% !important;
  }
}
