@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html, body, #root {
  height: 100%;
  padding: 0;
  margin: 0;
}

@theme {
  --font-primary: 'League Spartan', sans-serif;
  --font-secondary: 'Poppins', sans-serif;

  --color-primary: #4ADE80;
  --color-secondary: #22D3EE;
  --color-accent: #FBBF24;
  --color-background-notfound: #015238;
}

.svg-filter {
  filter: invert(1) brightness(100%) contrast(100%);
}

/* HP: matikan background */
@media (max-width: 767px) {
  .hero-bg {
    background-image: none !important;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .hero-bg {
    background-position: calc(50% + 185px) bottom !important;
    background-size: 70% !important;
  }
}

/* Desktop */
@media (min-width: 1024px) {
  .hero-bg {
    background-position: calc(60% + 250px) top !important;
    background-size: 60% !important;
  }
}




